#result {
  display: none;
}

.container .btn {
  margin-top: 10px;
}

#latin {
  margin-top:40px;
}


  .pig{
  text-color: red;
}

.result {
  text-color: red;
}

.gir {
  float:right;
}


.bubble {
  float:left;
}
